services:

  application-1:
    container_name: application
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    environment:
      - PIDFILE=tmp/pids/server_1.pid
    ports:
      - '3001:3000'
    volumes:
      - ./:/var/www/ommo-back

  db:
    container_name: postgres
    image: postgres:16.9-bullseye
    environment:
      POSTGRES_USER: ommo
      POSTGRES_PASSWORD: '1234567890'
      # PGDATA: /tmp
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data
      # If postgres container contain file with permissions postgres:postrges
      # stop container then comment string below, up container without string and rebuild with uncommented string
      # problem seen on docker-desktop mac os x
      - ./bin/postgresql.conf:/var/lib/postgresql/data/postgresql.conf

volumes:
  postgres:
    driver: local
